@keyframes shrink{
    0% {width:55%;}
    100% {width:15%;transform: rotateY(720deg);}
}
@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity:1;}
}
@keyframes showBg{
    from{}
    to{background-color: #E5E5E5;}
    }
h1{
 
}
#photodiv{
text-align: center;
padding:10px;
margin: 20px 80px 0 80px;
}

.showbg{
animation-name: showBg;
animation-duration: 5s;
animation-fill-mode: forwards;
}

#myPic{
    width: 55%;
    border-radius: 50%;
}

div{
    background-color: #F5F5F5;
    margin:0 80px 0 80px;
    text-align: center;
    padding: 0;
}

p{
    margin:0;
}
.shrinked{
    animation-name: shrink;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
.show{
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
.hidden{
    opacity: 0;
    display: none;
}
p1{
    font-family: 'Playfair Display', serif;
    font-size : 20px;
    
}
h2{
    font-family:  'Playfair Display', serif;
}
.hidden div{
    margin:0;
    opacity: 0.60;
}
.hidden div:hover{
    box-shadow: 0 0 20px #888888;
    opacity:1;
}